@{
    ViewData["Title"] = "Invoices";
}

<section>
    <div>
        <div>
            <h1 class="text-lg md:text-2xl font-semibold">Invoices</h1>
            <div></div>
        </div>
    </div>
    <div>

    </div>

</section>
